sqlite: &sqlite
  adapter: sqlite3
  database: spec/db/<%= ENV["RAILS_ENV"] %>.sqlite3

mysql: &mysql
  adapter: mysql2
  username: root
  password:
  database: validates_by_schema_<%= ENV["RAILS_ENV"] %>

postgresql: &postgresql
  adapter: postgresql
  username: postgres
  password: postgres
  database: validates_by_schema_<%= ENV["RAILS_ENV"] %>
  min_messages: ERROR

defaults: &defaults
  pool: 5
  timeout: 5000
  host: '127.0.0.1'
  <<: *<%= ENV['DB'] || "sqlite" %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
